# Unity3D related
Library
ProjectSettings
Temp
ArDemo.sln
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-Editor-firstpass.unityproj
ArDemo.userprefs
*.meta


# Vuforia related
Assets/Plugins
Assets/Vuforia
Assets/*.meta
Assets/link.xml
Assets/license_3rdpartynotice.txt
Assets/readme_SDK.txt


# 3rd Party related
Assets/OpenCVForUnity
Assets/Models/*
!Assets/Models/MyCube


# Xcode related
ArDemoXcode/*


# MAC OSX related
.DS_Store
*.zip


# Windows OS related
*.rar
